p = "Hi! You have a new task from SPM(Sahitech Project Management Portal)"

p = "Hi! You have a new task from SPM(Sahitech Project Management Portal)"
h2 = @task.name

p Please click the link below for check the task
= link_to @task.name, task_url(@task)