p = "Hi #{@res_username},"
p  have a new task from SPM (Sahitech Project Management Portal)
h3 = @task.name

p Please click the link below to check the task
= link_to @task.name, task_url(@task)





