p = " Hi #{@res_username}!"
p This is the Target date warning mail from your task on  "#{@project.name}" project by SPP(Sahitech Project Portal)
p Task: 
h3 = @task.name
p Task description:   
i class="fa fa-quote-left"
    strong  = @task.description
i class="fa fa-quote-right"

p For view, mark as done or comment if you want, please click the task link below
= project_task_url(@project, @task)